sudo: required
services:
  - docker

before_install:
  - docker build -t ushierukokoran/docker-react -f Dockerfile.dev .

script:
  - docker run ushierukokoran/docker-react npm run coverage

deploy:
  provider: elasticbeanstalk
  region: us-east-1
  app: docker
  env: Docker-env
  bucket_name: elasticbeanstalk-us-east-1-556678732816
  bucket_path: docker
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  skip_cleanup: true